*~
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
*.elc
/.emacs.d/tramp
/.emacs.d/url
/.emacs.d/.lsp-session-v1
/.emacs.d/projects

/.emacs.d/elpa/*
~/.emacs.d/elpa/archives/*

/.emacs.d/transient/history.el
/.emacs.d/eln-cache

.DS_Store
